body{
    background-color: lightgoldenrodyellow;
}

header{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h4{
    margin: 0;
    padding: 0;
}

.container{

    height:100%;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: .5em;
}
.mock{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
}
.tile{
    background-color: white;
    height: 20vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.playerOneScore{
    grid-column: 1;
    grid-row: 3;
}

.playerTwoScore{
    grid-column: 3;
    grid-row: 3;
}

.draw{
    grid-column: 2;
    grid-row: 3;
}

.introModal{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
}

.winModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
}

main{
    background-color: black;
    height: 100%;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5em;
}

@media only screen and (max-width: 600px) {
    .tile{
        background-color: pink;
        height: 13vh;
        width: 13vh;
    }

}
